.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
  width: 100%;
  background-color: #594a47;

}

.logo {
  height: 12rem;
  width: 12rem;
  margin-left: 4rem;
 
}

.botonera {
  display :flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 2rem;
}

.opciones {
  display : flex;
  flex-direction : column;
  position: relative;
  height: 100%;
  width: 80vw;
  justify-content: space-around;
}

.barraBusqueda {
  display: flex;
  flex-direction: row;;
  margin-top: 1rem;
  justify-content: center;
 
}

.inputBusqueda {
  width: 40rem;
  height: 20px;
  
}

.button {
	padding: 1rem;
	background-color: var(--rosa);
	font-size: 1rem;
	color: white;
	font-weight: 700;
	width: 7rem;
	text-align: center;
	border: none;
}

.formulario{
  display: flex;
  flex-direction: column;
  background-color: #e8eae3;
  margin: 0 auto;
  color:#594a47;
  height: 70%;
  width:50%;
  border-radius: 10px;
  border: 2px solid #9f7866;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 30px;
  justify-content: space-around;
}

.inputForm  {
 width: 50%;
 margin: 0 auto;
}

.buttonForm {

  margin: 0 auto;
	background-color: #a59f9b;
	font-size: 1rem;
	color: #ffffff;
  border-radius: 3px;
  border-color: #594a47;
	font-weight: 700;
	width: 7rem;
	text-align: center;
}

.tarjeta {
	margin: 1rem;
	padding: 2rem;
	font-size: 0.7rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 10rem;
	height: 12rem;
	background-color: #e8eae3;
	box-shadow: .1rem .1rem .6rem var(--rosa);
	border-radius: 0.5rem;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 65px;
  border: 3px solid #554946;
}

.tituloTarjeta {
	color: #594a47;
	text-decoration:underline;
	font-weight: 700;
}

.datosSecundarios {
	color: #282c34;
}

.cartaContenedora {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #a59f9b;
	justify-content: space-evenly;
	padding-top: 2rem;
	min-height: 100%;
}

.mensaje {
  color: #ffffff;
  font-size: 2rem;
}